<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.zhump.dsp.dao.DspAdvertLabelMapper" >
  <resultMap id="BaseResultMap" type="org.com.zhump.dsp.entity.DspAdvertLabel" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="AD_ID" property="adId" jdbcType="VARCHAR" />
    <result column="LABEL_ID" property="labelId" jdbcType="INTEGER" />
    <result column="TAG_VALUE_TYPE" property="tagValueType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CROWD_ID" property="crowdId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, AD_ID, LABEL_ID, TAG_VALUE_TYPE, MIN_VALUE, MAX_VALUE, CREATE_TIME, UPDATE_TIME, 
    CROWD_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.com.zhump.dsp.entity.DspAdvertLabelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dsp_advert_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dsp_advert_label
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dsp_advert_label
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.com.zhump.dsp.entity.DspAdvertLabelExample" >
    delete from dsp_advert_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="org.com.zhump.dsp.entity.DspAdvertLabel" >
    insert into dsp_advert_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="adId != null" >
        AD_ID,
      </if>
      <if test="labelId != null" >
        LABEL_ID,
      </if>
      <if test="tagValueType != null" >
        TAG_VALUE_TYPE,
      </if>
      <if test="minValue != null" >
        MIN_VALUE,
      </if>
      <if test="maxValue != null" >
        MAX_VALUE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="crowdId != null" >
        CROWD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="tagValueType != null" >
        #{tagValueType,jdbcType=INTEGER},
      </if>
      <if test="minValue != null" >
        #{minValue,jdbcType=BIGINT},
      </if>
      <if test="maxValue != null" >
        #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crowdId != null" >
        #{crowdId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.com.zhump.dsp.entity.DspAdvertLabelExample" resultType="java.lang.Integer" >
    select count(*) from dsp_advert_label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dsp_advert_label
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.adId != null" >
        AD_ID = #{record.adId,jdbcType=VARCHAR},
      </if>
      <if test="record.labelId != null" >
        LABEL_ID = #{record.labelId,jdbcType=INTEGER},
      </if>
      <if test="record.tagValueType != null" >
        TAG_VALUE_TYPE = #{record.tagValueType,jdbcType=INTEGER},
      </if>
      <if test="record.minValue != null" >
        MIN_VALUE = #{record.minValue,jdbcType=BIGINT},
      </if>
      <if test="record.maxValue != null" >
        MAX_VALUE = #{record.maxValue,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crowdId != null" >
        CROWD_ID = #{record.crowdId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="org.com.zhump.dsp.entity.DspAdvertLabel" >
    update dsp_advert_label
    <set >
      <if test="adId != null" >
        AD_ID = #{adId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        LABEL_ID = #{labelId,jdbcType=INTEGER},
      </if>
      <if test="tagValueType != null" >
        TAG_VALUE_TYPE = #{tagValueType,jdbcType=INTEGER},
      </if>
      <if test="minValue != null" >
        MIN_VALUE = #{minValue,jdbcType=BIGINT},
      </if>
      <if test="maxValue != null" >
        MAX_VALUE = #{maxValue,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crowdId != null" >
        CROWD_ID = #{crowdId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="map">
    insert into DSP_ADVERT_LABEL (AD_ID,LABEL_ID,CROWD_ID) values
    <foreach collection="items" item="item" index="index" separator=",">
      (
      #{item.adId},
      #{item.labelId},
      #{item.crowdId}
      )

    </foreach>
  </insert>
</mapper>