<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhump.dsp.dao.DspAdvertMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.zhump.dsp.entity.DspAdvertMaterial" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="CORP_CODE" property="corpCode" jdbcType="VARCHAR" />
    <result column="INIT_NAME" property="initName" jdbcType="VARCHAR" />
    <result column="NEW_NAME" property="newName" jdbcType="VARCHAR" />
    <result column="FILE_FORMAT" property="fileFormat" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="SIZE" property="size" jdbcType="BIGINT" />
    <result column="DURATION" property="duration" jdbcType="BIGINT" />
    <result column="CALSSIFY" property="calssify" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="MATERIAL_SWITCH" property="materialSwitch" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ORG_ID" property="orgId" jdbcType="BIGINT" />
    <result column="URL_S" property="urlS" jdbcType="VARCHAR" />
    <result column="PATH_S" property="pathS" jdbcType="VARCHAR" />
    <result column="SIZE_S" property="sizeS" jdbcType="BIGINT" />
    <result column="URL_M" property="urlM" jdbcType="VARCHAR" />
    <result column="PATH_M" property="pathM" jdbcType="VARCHAR" />
    <result column="SIZE_M" property="sizeM" jdbcType="BIGINT" />
    <result column="URL_L" property="urlL" jdbcType="VARCHAR" />
    <result column="PATH_L" property="pathL" jdbcType="VARCHAR" />
    <result column="SIZE_L" property="sizeL" jdbcType="BIGINT" />
    <result column="DURATION_M" property="durationM" jdbcType="BIGINT" />
    <result column="ASYTASKID" property="asytaskid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TYPE, CORP_CODE, INIT_NAME, NEW_NAME, FILE_FORMAT, URL, PATH, SIZE, DURATION, 
    CALSSIFY, USER_ID, MATERIAL_SWITCH, CREATE_TIME, UPDATE_TIME, ORG_ID, URL_S, PATH_S, 
    SIZE_S, URL_M, PATH_M, SIZE_M, URL_L, PATH_L, SIZE_L, DURATION_M, ASYTASKID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhump.dsp.entity.DspAdvertMaterialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dsp_advert_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dsp_advert_material
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dsp_advert_material
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhump.dsp.entity.DspAdvertMaterialExample" >
    delete from dsp_advert_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insertSelective" parameterType="com.zhump.dsp.entity.DspAdvertMaterial" >
    insert into dsp_advert_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="corpCode != null" >
        CORP_CODE,
      </if>
      <if test="initName != null" >
        INIT_NAME,
      </if>
      <if test="newName != null" >
        NEW_NAME,
      </if>
      <if test="fileFormat != null" >
        FILE_FORMAT,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="size != null" >
        SIZE,
      </if>
      <if test="duration != null" >
        DURATION,
      </if>
      <if test="calssify != null" >
        CALSSIFY,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="materialSwitch != null" >
        MATERIAL_SWITCH,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="urlS != null" >
        URL_S,
      </if>
      <if test="pathS != null" >
        PATH_S,
      </if>
      <if test="sizeS != null" >
        SIZE_S,
      </if>
      <if test="urlM != null" >
        URL_M,
      </if>
      <if test="pathM != null" >
        PATH_M,
      </if>
      <if test="sizeM != null" >
        SIZE_M,
      </if>
      <if test="urlL != null" >
        URL_L,
      </if>
      <if test="pathL != null" >
        PATH_L,
      </if>
      <if test="sizeL != null" >
        SIZE_L,
      </if>
      <if test="durationM != null" >
        DURATION_M,
      </if>
      <if test="asytaskid != null" >
        ASYTASKID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="corpCode != null" >
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="initName != null" >
        #{initName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null" >
        #{newName,jdbcType=VARCHAR},
      </if>
      <if test="fileFormat != null" >
        #{fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="calssify != null" >
        #{calssify,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="materialSwitch != null" >
        #{materialSwitch,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="urlS != null" >
        #{urlS,jdbcType=VARCHAR},
      </if>
      <if test="pathS != null" >
        #{pathS,jdbcType=VARCHAR},
      </if>
      <if test="sizeS != null" >
        #{sizeS,jdbcType=BIGINT},
      </if>
      <if test="urlM != null" >
        #{urlM,jdbcType=VARCHAR},
      </if>
      <if test="pathM != null" >
        #{pathM,jdbcType=VARCHAR},
      </if>
      <if test="sizeM != null" >
        #{sizeM,jdbcType=BIGINT},
      </if>
      <if test="urlL != null" >
        #{urlL,jdbcType=VARCHAR},
      </if>
      <if test="pathL != null" >
        #{pathL,jdbcType=VARCHAR},
      </if>
      <if test="sizeL != null" >
        #{sizeL,jdbcType=BIGINT},
      </if>
      <if test="durationM != null" >
        #{durationM,jdbcType=BIGINT},
      </if>
      <if test="asytaskid != null" >
        #{asytaskid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhump.dsp.entity.DspAdvertMaterialExample" resultType="java.lang.Integer" >
    select count(*) from dsp_advert_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dsp_advert_material
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.corpCode != null" >
        CORP_CODE = #{record.corpCode,jdbcType=VARCHAR},
      </if>
      <if test="record.initName != null" >
        INIT_NAME = #{record.initName,jdbcType=VARCHAR},
      </if>
      <if test="record.newName != null" >
        NEW_NAME = #{record.newName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileFormat != null" >
        FILE_FORMAT = #{record.fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        SIZE = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.duration != null" >
        DURATION = #{record.duration,jdbcType=BIGINT},
      </if>
      <if test="record.calssify != null" >
        CALSSIFY = #{record.calssify,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.materialSwitch != null" >
        MATERIAL_SWITCH = #{record.materialSwitch,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.urlS != null" >
        URL_S = #{record.urlS,jdbcType=VARCHAR},
      </if>
      <if test="record.pathS != null" >
        PATH_S = #{record.pathS,jdbcType=VARCHAR},
      </if>
      <if test="record.sizeS != null" >
        SIZE_S = #{record.sizeS,jdbcType=BIGINT},
      </if>
      <if test="record.urlM != null" >
        URL_M = #{record.urlM,jdbcType=VARCHAR},
      </if>
      <if test="record.pathM != null" >
        PATH_M = #{record.pathM,jdbcType=VARCHAR},
      </if>
      <if test="record.sizeM != null" >
        SIZE_M = #{record.sizeM,jdbcType=BIGINT},
      </if>
      <if test="record.urlL != null" >
        URL_L = #{record.urlL,jdbcType=VARCHAR},
      </if>
      <if test="record.pathL != null" >
        PATH_L = #{record.pathL,jdbcType=VARCHAR},
      </if>
      <if test="record.sizeL != null" >
        SIZE_L = #{record.sizeL,jdbcType=BIGINT},
      </if>
      <if test="record.durationM != null" >
        DURATION_M = #{record.durationM,jdbcType=BIGINT},
      </if>
      <if test="record.asytaskid != null" >
        ASYTASKID = #{record.asytaskid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhump.dsp.entity.DspAdvertMaterial" >
    update dsp_advert_material
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="corpCode != null" >
        CORP_CODE = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="initName != null" >
        INIT_NAME = #{initName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null" >
        NEW_NAME = #{newName,jdbcType=VARCHAR},
      </if>
      <if test="fileFormat != null" >
        FILE_FORMAT = #{fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        SIZE = #{size,jdbcType=BIGINT},
      </if>
      <if test="duration != null" >
        DURATION = #{duration,jdbcType=BIGINT},
      </if>
      <if test="calssify != null" >
        CALSSIFY = #{calssify,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="materialSwitch != null" >
        MATERIAL_SWITCH = #{materialSwitch,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="urlS != null" >
        URL_S = #{urlS,jdbcType=VARCHAR},
      </if>
      <if test="pathS != null" >
        PATH_S = #{pathS,jdbcType=VARCHAR},
      </if>
      <if test="sizeS != null" >
        SIZE_S = #{sizeS,jdbcType=BIGINT},
      </if>
      <if test="urlM != null" >
        URL_M = #{urlM,jdbcType=VARCHAR},
      </if>
      <if test="pathM != null" >
        PATH_M = #{pathM,jdbcType=VARCHAR},
      </if>
      <if test="sizeM != null" >
        SIZE_M = #{sizeM,jdbcType=BIGINT},
      </if>
      <if test="urlL != null" >
        URL_L = #{urlL,jdbcType=VARCHAR},
      </if>
      <if test="pathL != null" >
        PATH_L = #{pathL,jdbcType=VARCHAR},
      </if>
      <if test="sizeL != null" >
        SIZE_L = #{sizeL,jdbcType=BIGINT},
      </if>
      <if test="durationM != null" >
        DURATION_M = #{durationM,jdbcType=BIGINT},
      </if>
      <if test="asytaskid != null" >
        ASYTASKID = #{asytaskid,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>