<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhump.dsp.dao.DspAdvertCrowdMapper" >
  <resultMap id="BaseResultMap" type="com.zhump.dsp.entity.DspAdvertCrowd" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="AD_ID" property="adId" jdbcType="VARCHAR" />
    <result column="CROWD_ID" property="crowdId" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ADVERT_CROWD_TYPE" property="advertCrowdType" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, AD_ID, CROWD_ID, CREATE_TIME, ADVERT_CROWD_TYPE, UPDATE_TIME, TASK_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhump.dsp.entity.DspAdvertCrowdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dsp_advert_crowd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dsp_advert_crowd
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dsp_advert_crowd
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhump.dsp.entity.DspAdvertCrowdExample" >
    delete from dsp_advert_crowd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhump.dsp.entity.DspAdvertCrowd" >
    insert into dsp_advert_crowd (ID, AD_ID, CROWD_ID, 
      CREATE_TIME, ADVERT_CROWD_TYPE, UPDATE_TIME, 
      TASK_ID)
    values (#{id,jdbcType=BIGINT}, #{adId,jdbcType=VARCHAR}, #{crowdId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{advertCrowdType,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{taskId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhump.dsp.entity.DspAdvertCrowd" >
    insert into dsp_advert_crowd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="adId != null" >
        AD_ID,
      </if>
      <if test="crowdId != null" >
        CROWD_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="advertCrowdType != null" >
        ADVERT_CROWD_TYPE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=VARCHAR},
      </if>
      <if test="crowdId != null" >
        #{crowdId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advertCrowdType != null" >
        #{advertCrowdType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhump.dsp.entity.DspAdvertCrowdExample" resultType="java.lang.Integer" >
    select count(*) from dsp_advert_crowd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dsp_advert_crowd
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.adId != null" >
        AD_ID = #{record.adId,jdbcType=VARCHAR},
      </if>
      <if test="record.crowdId != null" >
        CROWD_ID = #{record.crowdId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.advertCrowdType != null" >
        ADVERT_CROWD_TYPE = #{record.advertCrowdType,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskId != null" >
        TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dsp_advert_crowd
    set ID = #{record.id,jdbcType=BIGINT},
      AD_ID = #{record.adId,jdbcType=VARCHAR},
      CROWD_ID = #{record.crowdId,jdbcType=BIGINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ADVERT_CROWD_TYPE = #{record.advertCrowdType,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      TASK_ID = #{record.taskId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhump.dsp.entity.DspAdvertCrowd" >
    update dsp_advert_crowd
    <set >
      <if test="adId != null" >
        AD_ID = #{adId,jdbcType=VARCHAR},
      </if>
      <if test="crowdId != null" >
        CROWD_ID = #{crowdId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="advertCrowdType != null" >
        ADVERT_CROWD_TYPE = #{advertCrowdType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhump.dsp.entity.DspAdvertCrowd" >
    update dsp_advert_crowd
    set AD_ID = #{adId,jdbcType=VARCHAR},
      CROWD_ID = #{crowdId,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ADVERT_CROWD_TYPE = #{advertCrowdType,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      TASK_ID = #{taskId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>